{% extends "base.html" %}

{% block title %}
<h4>Inicio</h4>
<text>Base de datos utilizada: {{database}}</text>

{% endblock title %}

{% block content %}

<!-- <meta http-equiv="refresh" content="5" /> -->

<!-- Pagina donde se listan los dispositivos registrados. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3">

    <!-- Los grupos de datos se acomodan dentro de este contenedor de tipo responsive. -->
    <!-- Se resta margen de arriba para lograr que el jumbotron se pegue a la barra de navegacion.-->
    <div class="container-responsive" style="margin-top: -16px;">
        <!-- Menu de herramientas. -->
        <div class="row">
            <div class="col">
                <!-- Subtitulo. -->

                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Usuario actual</th>
                            <th>Categorías soportadas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ user_name }}</td>
                            <td>
                                {% for cat in user_category.all%}
                                <li>{{ cat.category_name }}</li>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table class="table table-hover table-responsive" >
                    <meta http-equiv="refresh" content="10" />
					<thead>
						<tr>
							<th>Fecha y hora</th>
							<th>Dispositivo</th>
							<th>Miniatura</th>
							<th>Ampliar</th>
						</tr>
					</thead>
					<tbody>
						{% for obj in button_events %}
							<tr>
								<td>{{ obj.date_time }}</td>
								<td>{{ obj.device.device_name }}</td>
								<td>
									<img class="img-fluid rounded" style="max-width:100px; max-height:75px;" src="{{ settings.FILES_API_BASE_URL }}{{ obj.image }}" alt="No se encontró la imagen">
								</td>
								<td>
									<button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#{{ settings.FILES_API_BASE_URL }}{{ obj.image }}"><span class="fa fa-image"></span></button>
								</td>
                                <td>
                                    <a class="btn btn-outline-secondary" href="/dispositivos/manage/{{ obj.device.id }}"><span
                                            class="fa fa-plus"></span> Ver dispositivo</a>
                                </td>
							</tr>
							<!-- Modal. -->
							<div class="modal fade" id="{{ settings.FILES_API_BASE_URL }}{{ obj.image }}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="imageTitle">{{ obj.date_time }}</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body mx-auto">
											<img class="img-fluid rounded" src="{{ settings.FILES_API_BASE_URL }}{{ obj.image }}" alt="No se encontró la imagen">
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</tbody>
				</table>


                <h5 class="h5 text-info mb-3">Dispositivos soportados por este usuario:</h5>

                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección IP</th>
                            <th>Puerto</th>
                            <!-- Se especifica un minimo de ancho para la columna para que el titulo no se separe por palabras en caso de achicarse la tabla, por ejemplo en pantallas de celulares. -->
                            <th style="min-width:178px;">Dirección MAC</th>
                            <th>Categorías</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Se puede utilizar como variable de contexto por defecto tanto "object_list" como asi tambien "device_list". -->
                        {% for device in device_list %}
                        <tr>
                            <a class="navbar-brand text-info" href="/dispositivos/manage/{{ device.id }}"><td>{{ device.device_name }}</td></a>
                            <td>{{ device.ip_address }}</td>
                            <td>{{ device.puerto }}</td>
                            <td>{{ device.MAC_address }}</td>
                            <td>{% for cat in device.category_list.all %}
                                <li>{{ cat.category_name }}</li>
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-outline-secondary" href="/dispositivos/manage/{{ device.id }}"><span
                                        class="fa fa-plus"></span> Controlar dispositivo</a>
                            </td>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include "snippets/pagination.html" %}

{% endblock content %}