{% extends "base_login.html" %}

{% block content %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}


<!-- Pagina para resetear contraseña de un usuario. -->
<div class="text-center my-auto">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3">Olvidé mi contraseña</h1>
        <div class="alert alert-primary text-left" role="alert">
			Ingrese su email para continuar con el proceso de cambio de contraseña del usuario.
		</div>
		{% for field in form.visible_fields %}
            <div class="form-group">
                {% bootstrap_field field show_label=False %}
            </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Enviar</button>
        <div class="text clearfix">
            <a class="float-left" href="/acceder">Volver atrás</a>
        </div>
        <!-- Se incluyen los logos de la facultad y de la universidad. -->
        {% include 'snippets/logos.html' %}
    </form>
</div>

{% endblock content %}
