{% extends "base_login.html" %}

{% block content %}


<!-- Pagina mostrada despues de haber ingresado el email para resetear la contraseña. -->
<div class="text-center my-auto">
    <div class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3">Olvidé mi contraseña</h1>
        <div class="alert alert-primary text-left" role="alert">
			Se ha enviado un email con las instrucciones para cambiar la contraseña, debería de recibirlo a la brevedad.
			Si no lo recibe, por favor asegúrese de que el email ingresado pertenezca a una cuenta activa en el sistema, puede verificar <a href="{% url 'users:forget_username' %}" class="alert-link">aquí.</a>
		</div>
		<div class="text clearfix">
            <a class="float-left" href="/acceder/olvide-clave">Volver atrás</a>
        </div>
        <!-- Se incluyen los logos de la facultad y de la universidad. -->
        {% include 'snippets/logos.html' %}
    </div>
</div>

{% endblock content %}
