{% autoescape off %}
  Este email ha sido enviado debido a un pedido de recuperación de contraseña, si usted
no ha solicitado dicho pedido, ignórelo.

  Para modificar la contraseña de la cuenta {{ user.get_username }} , haga click en alguno
de los vínculos siguientes:

<!-- {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %} -->
https://ingreso.lac{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Si no se encuentra en un dispositivo de acceso configurado (celular por ejemplo:)
use el siguiente vínculo:

https://192.168.1.253{% url 'users:password_reset_confirm' uidb64=uid token=token %}

  Si no funciona mediante un click, por favor copie y pegue la URL en la ventana del
explorador.

{% endautoescape %}