{% extends "base.html" %}

{% block title %}
Cambiar mi contraseña
{% endblock title %}

{% block content %}


<!-- Pagina para cambiar la contraseña. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3" style="max-width:400px;">
    <div class="alert alert-success" role="alert">
    	Su contraseña ha sido modificada.
    </div>
    <!-- Boton para ir al inicio. -->
    <a class="btn btn-outline-secondary" href="/">Aceptar</a>
</div>

{% endblock content %}