{% extends "base_login.html" %}

{% block content %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}


<!-- Pagina accedida mediante el link recibido por el usuario que desea cambiar su contraseña. -->
<div class="text-center my-auto">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3">Olvidé mi contraseña</h1>
        <!-- Si el link es valido. -->
        {% if validlink %}
	        <div class="alert alert-primary text-left" role="alert">
	        	Ingrese su nueva contraseña.
			</div>
			{% for field in form.visible_fields %}
	            <div class="form-group text-left">
	                {% bootstrap_field field show_label=False show_help=False %}
	                <small class="text-muted">{{ field.help_text|safe }}</small>
	            </div>
	        {% endfor %}
	        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Siguiente</button>
	    <!-- Si el link ya no es valido (sucede cuando ya se utilizo previamente el link). -->
	    {% else %}
	    	<div class="alert alert-primary text-left" role="alert">
				La dirección URL provista es inválida, posiblemente porque ya fue utilizada.
				Por favor intente recuperar la contraseña nuevamente <a href="{% url 'users:password_reset' %}" class="alert-link">aquí.</a>
			</div>
		{% endif %}
        <!-- Se incluyen los logos de la facultad y de la universidad. -->
        {% include 'snippets/logos.html' %}
    </form>
</div>

{% endblock content %}
