{% extends "base.html" %}

{% block title %}
Cambiar mi contraseña
{% endblock title %}

{% block content %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}


<!-- Pagina para cambiar la contraseña. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3" style="max-width:400px;">
    <!-- Formulario. -->
    <form class="form-group" method="post">
        {% csrf_token %}
        <!-- Si el formulario contiene errores, los recorre y los muestra. -->
	    {% if form.non_field_errors %}
	        <div class="alert alert-danger" role="alert">
	            {% for error in form.non_field_errors %}
	                <!-- Se justifica el contenido del texto hacia la izquierda. -->
	                <div class="text-left">{{ error }}</div>
	            {% endfor %}
	        </div>
	    {% endif %}
	    <!-- Se recorren los campos visibles del formulario y se los muestran sin la etiqueta, sin texto predefinido (placeholder) y sin ayuda. -->
        {% for field in form.visible_fields %}
	        <div class="form-group text-left">
	            {% bootstrap_field field show_label=False show_help=False %}
	            <!-- Se da formato al texto de ayuda del campo. -->
	            <small class="text-muted">{{ field.help_text|safe }}</small>
	        </div>
	    {% endfor %}
	    <button class="btn btn-outline-secondary" type="submit"><span class="fa fa-save"></span> Guardar</button>
		</div>
	</form>
</div>

{% endblock content %}