{% extends "base.html" %}

{% block title %}
Franjas horarias
{% endblock title %}

{% block content %}


<!-- Pagina de confirmacion de eliminacion de un turno. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3" style="max-width:600px;">

	<!-- Formulario. -->
    <form class="form-group" method="post">
        {% csrf_token %}
        <!-- Subtitulo. -->
        <h5 class="h5 text-info mb-3">Eliminar turno:</h5>
        <!-- El formulario de Django se acomoda dentro de esta clase. -->
        <div class="form-group">
        	<!-- Si el turno a eliminar es valido, o sea que no sea el turno por defecto. -->
        	{% if valid_delete %}
        		<div class="alert alert-warning" role="alert">
        			¿Está seguro que desea eliminar el turno "{{ object }}"?<br>
        			Recuerde que al eliminar este turno, aquellos usuarios que lo utilizan pasan a utilizar el turno por defecto (Ninguno).
        		</div>
        		<button class="btn btn-outline-secondary" type="submit">Confirmar</button>
        	{% else %}
        		<div class="alert alert-warning" role="alert">
        			No es posible eliminar el turno que se utiliza por defecto.
        		</div>
        	{% endif %}
        </div>
    </form>
    <!-- Link que permite volver a la pagina anterior. -->
    <a class="text-info" href="/usuarios/franjas-horarias">Volver atrás</a>
</div>

{% endblock content %}