{% extends "base.html" %}

{% block title %}
Agregar nuevo usuario
{% endblock title %}

{% block content %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}

<!-- Pagina donde se editan los datos del usuario. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3">

	<!-- Formulario. -->
    <form class="form-group" method="post">
        {% csrf_token %}
        <!-- Subtitulo. -->
        <h5 class="h5 text-info mb-3">Paso 2 de 4 - Permisos y categorías:</h5>
        <!-- Barra indicadora del progreso de registro del usuario. -->
        <div class="progress mb-5">
            <div class="progress-bar" role="progressbar" style="width: 50%;"></div>
        </div>
        <!-- El formulario de Django se acomoda dentro de esta clase. -->
        <div class="form-group">
			<div class="row">
	        	<div class="col-12 col-sm-4 col-md-3 col-lg-2">
	        		{{ form.is_staff.label_tag }}
	        	</div>
	        	<div class="col-12 col-sm-6 col-md-5 col-lg-4">
	        		{% bootstrap_field form.is_staff show_label=False show_help=False placeholder=False %}
	        	</div>
	        </div>
			<div class="row">
	        	<div class="col-12 col-sm-4 col-md-3 col-lg-2">
	        		{{ form.category_list.label_tag }}
	        	</div>
	        	<div class="col-12 col-sm-6 col-md-5 col-lg-4">
					{% bootstrap_field form.category_list show_label=False show_help=False placeholder=False %}
				</div>
	        </div>
        </div>
        <button class="btn btn-outline-secondary" type="submit">Siguiente</button>
    </form>
</div>
	

{% endblock content %}