{% extends "base.html" %}

{% block title %}
Agregar nuevo usuario
{% endblock title %}

{% block content %}

{% block message %}
{% include "common/messages.html" %}
{% endblock message %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}

<!-- Pagina para registrar nuevo usuario (paso 3). -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3" style="max-width:600px;">
    <!-- Formulario. -->
    <form class="form-group" method="post">
        {% csrf_token %}
        <!-- Subtitulo. -->
        <h5 class="h5 text-info mb-3">Paso 4 de 4 - Tarjeta RFID:</h5>
        <!-- Barra indicadora del progreso de registro del usuario. -->
        <div class="progress mb-5">
            <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
        </div>
        <div class="col-10 col-sm-10">
            <h1 class="h5 text-info mt-2 mb-3">Elija el dispositvo de donde leer el código:</h1>
            <div class="col-12 col-sm-6">
            </div>
            <select class="form-control form-control-sm" name="selected_device">
                {% for device in device_list %}
                <option value={{device.id}}> {{device.device_name}} </option>
                {% endfor %}
            </select>
        </div>
</div>
</div>
<div class="col-12 col-sm-6">
    <!-- Los botones de acciones, se le ponen nombres para diferenciarlos en la vista. -->
    <button class="btn btn-outline-secondary mr-3" type="submit" name="get_code">Obtener
        código</button>
    <button class="btn btn-outline-secondary" type="submit" name="omit">Omitir</button>
</div>
</form>
</div>

{% endblock content %}