{% extends "base.html" %}

{% block title %}
Cambiar llavero del usuario
{% endblock title %}

{% block content %}


<!-- Pagina que muestra el resultado del cambio de llavero del usuario. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3">

	<div class="alert alert-primary" style="max-width:500px;" role="alert">
		Se ha realizado la operación solicitada exitosamente.
	</div>
	<!-- Boton para ir al inicio. -->
    <a class="btn btn-outline-secondary" href="/inicio">Aceptar</a>
</div>

{% endblock content %}