{% extends "base.html" %}

{% block title %}
Cambiar llavero del usuario
{% endblock title %}

{% block content %}

{% block message %}
{% include "common/messages.html" %}
{% endblock message %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}

<!-- Pagina donde se permite cambiar el llavero. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3">

	<!-- Formulario. -->
    <form class="form-group" method="post">
        <div class="container-responsive ml-2 mr-3" style="max-width:600px;">
            <h1 class="h5 text-info mt-2 mb-3">Elija el dispositvo de donde leer el código:</h1>
            <div class="col-12 col-sm-6">
            </div>
            <select class="form-control form-control-sm" name="selected_device">
                {% for device in device_list %}
                <option value={{device.id}}> {{device.device_name}} </option>
                {% endfor %}
            </select>
        </div>

        {% csrf_token %}
        <!-- Se pasa este parametro oculto para indicar que se trata de una edicion y no de un registro de un nuevo usuario. -->
        <input type="hidden" name="edit" value="1">
        <button class="btn btn-outline-secondary m-2" type="submit" name="get_code">
        Obtener nuevo código</button>
        <button class="btn btn-outline-secondary m-2" type="submit" name="delete_code">Eliminar código actual</button>
    </form>
</div>

{% endblock content %}