{% extends "base.html" %}

{% block title %}
Código del llavero
{% endblock title %}

{% block content %}

<!-- Pagina de error al obtener el codigo del llavero. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3" style="max-width:600px;">

	<div class="alert alert-warning" role="alert">
		No se detectó algún llavero, intente nuevamente.
	</div>
	<form class="form-group" method="post">
		{% csrf_token %}
		<div class="container-responsive ml-2 mr-3" style="max-width:600px;">
			<h1 class="h5 text-info mt-2 mb-3">Elija el dispositvo de donde leer el código:</h1>
			<div class="col-12 col-sm-6">
			</div>
			<select class="form-control form-control-sm" name="selected_device">
				{% for device in device_list %}
				<option value={{device.id}}> {{device.device_name}} </option>
				{% endfor %}
			</select>
		</div>
		<br> 
		<button class="btn btn-outline-secondary m-2" type="submit" name="get_code">
			Intentar nuevamente
		</button>
		<button class="btn btn-outline-secondary m-2" type="submit" name="abort">
			Cancelar operación
		</button>
		<input type="hidden" name="edit" value="{{ edit }}">
	</form>
</div>

{% endblock content %}