<!-- Boton de exportar los eventos filtrados, va dentro del Jumbotron. -->
<div class="row">
	<button class="btn btn-outline-secondary mx-2 mb-1 mb-sm-0" type="submit" name="export_filtered_events"><span class="fa fa-file-text-o"></span> Exportar eventos filtrados</button>
	<button class="btn btn-outline-secondary mx-2" type="submit" name="export_all_events"><span class="fa fa-file-text-o"></span> Exportar todos los eventos</button>
	<input type="hidden" value="{{ begin }}" name="begin_export"> 
	<input type="hidden" value="{{ end }}" name="end_export">
</div>