{% extends "base.html" %}

{% block title %}
Sensor de movimiento
{% endblock title %}

{% block content %}

<!-- Para django-bootstrap4. -->
{% load bootstrap4 %}


<!-- Pagina que muestra la franja horaria actual del sensor de movimiento y permite modificarlo. -->
<!-- Se acomoda todo el contenido dentro de este contenedor con margenes y un tamaño maximo definido. -->
<div class="container-responsive ml-2 mr-3">

	<div class="col-12 col-md-5">
		<!-- Subtitulo para la copia integral del sistema. -->
		<h5 class="h5 text-info">Franja horaria de detección de movimiento</h5>
		<div class="alert alert-light pl-0">
			El sensor de movimiento se activa si la hora actual está comprendida dentro de la franja horaria establecida.<br>
			Actualmente la franja horaria es de <span class="font-weight-bold">{{ movement_time_zone.begin }}</span> a <span class="font-weight-bold">{{ movement_time_zone.end }}</span>.
		</div>
		<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#movementTimeZoneModal">
			Cambiar franja horaria
		</button>
		<div class="modal fade" id="movementTimeZoneModal" tabindex="-1" role="dialog" aria-labelledby="movementTimeZoneModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <h5 class="modal-title" id="movementTimeZoneModalTitle">Advertencia</h5> -->
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<!-- Formulario. -->
   					<form class="form-group" method="post">
	        			{% csrf_token %}
						<div class="modal-body">
	        				<!-- Se recorren los campos visibles del formulario. -->
				            {% for field in form.visible_fields %}
					            <div class="row">
					                <!-- En pantallas pequeñas ocupa toda la fila, en medianas en adelante solo 4 columnas. -->
					                <div class="col-12 col-sm-4">
					                    <!-- La etiqueta del campo. -->
					                    <div class="form-group">
					                        {{ field.label_tag }}
					                    </div>
					                </div>
					                <!-- En pantallas pequeñas utiliza toda la fila y en medianas en adelante 4 columnas. -->
					                <div class="col-12 col-sm-4">
					                    <!-- Si el formulario contiene errores, los recorre y los muestra. -->
					                    {% if form.non_field_errors %}
					                        <div class="alert alert-danger" role="alert">
					                            {% for error in form.non_field_errors %}
					                                <!-- Se justifica el contenido del texto hacia la izquierda. -->
					                                <div class="text-left">{{ error }}</div>
					                            {% endfor %}
					                        </div>
					                    {% endif %}
					                    <!-- Se recorren los campos visibles del formulario y se los muestran sin la etiqueta, sin texto predefinido (placeholder) y sin ayuda. -->
					                    <div class="form-group">
					                        {% bootstrap_field field show_label=False show_help=False placeholder=False %}
					                        <!-- Se da formato al texto de ayuda del campo. -->
					                        <div style="margin-top: -16px;">
				                        		<small class="text-muted">{{ field.help_text }}</small>
				                        	</div>
					                    </div>
					                </div>
					            </div>
				            {% endfor %}
				        </div>
						<div class="modal-footer">
				        	<button class="btn btn-outline-secondary" type="submit"><span class="fa fa-save"></span> Guardar</button>
				        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}